#geo{
  padding: 120px 0;
  background: rgb(0, 0, 0);
  overflow: hidden;
  .geo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--group{
      width: 45%;
      h1{
        color: #ff7300;
        font-size: 40px;
        font-family: sans-serif;
      }
      p{
        color: white;
        font-size: 20px;
        font-family: sans-serif;
        margin-top: 20px;
      }
    }
    &--image{
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        animation: geo 5s infinite alternate;
        @keyframes geo {
          0%{
            transform: translateY(-40px);
          }
          100%{
            transform: translateY(30px);
          }
        }
      }
    }
  }
}


@media (max-width: 1024px) {
  #geo{
    .geo{
      &--group{
        width: 48%;
        h1{
          font-size: 35px;
        }
        p{
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  #geo{
    padding: 80px 0;
    .geo{
      flex-direction: column;
      &--group{
        width: 100%;
        h1{
          font-size: 35px;
        }
        p{
          font-size: 18px;
        }
      }
      &--image{
        width: 60%;
        margin-top: 60px;
      }
    }
  }
}

@media (max-width: 768px) {
  #geo{
    padding: 20px 0;
  }
}

@media (max-width: 576px) {
  #geo{
    .geo{
      &--group{
        h1{
          font-size: 30px;
        }
        p{
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #geo{
    .geo{
      &--image{
        width: 80%;
      }
    }
  }
}


@media (max-width: 375px) {
  #geo{
    .geo{
      &--group{
        h1{
          font-size: 26px;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }
}
